{% extends 'base.html' %}

{% block title %}Créer une Review{% endblock %}

{% block content %}
{% if ticket %}
<h2>Créer une Review pour le Ticket "{{ ticket.title }}"</h2>
<div>
    {{ ticket.image }}<br>
    {{ ticket.description }}<br>
</div>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Créer</button>
</form>

{% else %}
<h2>Créer un nouveau Ticket et une Review</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ ticket_form.as_p }}
    {{ review_form.as_p }}
    <button type="submit">Créer</button>
</form>
{% endif %}
{% endblock %}