{% extends 'base.html' %}

{% block title %}Créer une Review{% endblock %}

{% block content %}

{% if ticket and not ticket.review_exist %}

<h2>Créer une Review pour le Ticket "{{ ticket.title }}"</h2>
<div class="ticket-container">
    {% if ticket.image %}
    <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" title="Image représentant la couverture du livre"><br>
    {% endif %}
    <p>Description : {{ ticket.description }}</p>
    <p>Posté par: {{ ticket.user.username }}</p>
    <h6 class="date-right">Date création : {{ ticket.time_created }}</h6>
</div>
<form method="post">
    {% csrf_token %}
    <div class="review-container">
        {{ form.headline.label_tag }}
        {{ form.headline }}<br>
        <div class="rating-radio">
            {{ form.rating.label_tag }}
            {% for choice in form.rating %}
            {{ choice.tag }} {{ choice.choice_label }}
            {% endfor %}
        </div>
        {{ form.body.label_tag }}
        {{ form.body }}
    </div>
    <button class="button success-button" type="submit">Créer</button>
</form>

{% else %}
<h2>Créer un nouveau Ticket et une Review</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="ticket-container">
        {{ ticket_form.as_p }}<br>
    </div>
    <div class="review-container">
        {{ review_form.headline.label_tag }}
        {{ review_form.headline }}<br>
        <div class="rating-radio">
            {{ review_form.rating.label_tag }}
            {% for choice in review_form.rating %}
            {{ choice.tag }} {{ choice.choice_label }}
            {% endfor %}
        </div>
        {{ review_form.body.label_tag }}
        {{ review_form.body }}
    </div>
    <button class="button success-button" type="submit">Créer</button>
</form>


{% endif %}
{% endblock %}