<!DOCTYPE html>
<html>

<head>
    <title>LITRevu</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Flux</a></li>
            <li><a href="{% url 'posts' %}">Posts</a></li>
            <li><a href="{% url 'subscription' %}">Abonnements</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'signin' %}">Déconnexion</a></li>
            {% else %}
            <li><a href="{% url 'signin' %}">Connexion</a></li>
            {% endif %}

            <!-- <li><a href="/">Se déconnecter</a></li> -->
            <li><a href="{% url 'create_ticket' %}">Créer un billet</a></li>
            <p>Utilisateur : {{ user.username }}</p>

        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>

</html>