{% extends 'base.html' %}

{% block title %}Mon Flux{% endblock %}

{% block content %}
{% csrf_token %}
<h2>Mon Flux</h2>

<h3>Nouveau Post</h3>
<button><a href="{% url 'create_ticket' %}">Créer un Ticket</a></button>
<button><a href="{% url 'create_review' %}">Créer une Review</a></button>

<h3>Posts</h3>
<ul>
    {% for post in posts %}
    <li>

        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        <p>Posté par: {{ post.user.username }}</p>
        <p>{{ post.time_created }}</p>
        <p>TEST 1</p>

        {% if post.reviews %}
        {{ post }}
        {{ post.reviews }}
        <p>TEST 2</p>
        <h4>Review :</h4>
        <p>Titre : {{ post.reviews.headline }}</p>
        <p>Note : {{ post.reviews.rating }}</p>
        <p>Contenu : {{ post.reviews.body }}</p>
        <!-- {% else %} -->
        <button><a href="{% url 'create_review' post.id %}">Créer une Review</a></button>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}