{% extends 'base.html' %}
{% load static %}

{% block title %}Mes Posts{% endblock %}

{% block content %}
<h2>Mes billets</h2>
<ul>
    {% for post in user_posts %}
    <li>
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        <p>Posté par: {{ post.user.username }}</p>
        <p>{{ post.time_created }}</p>
        <a href="{% url 'edit_post' post.id %}">Éditer</a>
        <a href="{% url 'delete_post' post.id %}">Supprimer</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}