{% extends 'base.html' %}
{% load static %}

{% block title %}Mes Posts{% endblock %}

{% block content %}
<h2>Mes Posts</h2>
<ul>
    {% for post in user_posts_and_reviews %}
    <li>
        {% if post.post_type == 'ticket' %}
        <div class="ticket-container">
            <h1>{{ post.post_type }}</h1>
            <h3>Titre : {{ post.title }}</h3>
            <p>Description : {{ post.description }}</p>
            <p>Posté par: {{ post.user.username }}</p>
            <p>Date création : {{ post.time_created }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}"><br>
            <button><a href="{% url 'edit_ticket' post.id %}">Éditer</a></button>
            <button><a href="{% url 'delete_ticket' post.id %}">Supprimer</a></button>
            {% endif %}
        </div>
        {% elif post.post_type == 'review' %}
        <div class="review-container">
            <h1>{{ post.post_type }}</h1>
            <h3>Review pour le billet "{{ post.ticket.title }}"</h3>
            <p>Titre : {{ post.headline }}</p>
            <p>Note : {{ post.rating }}</p>
            <p>Contenu : {{ post.body }}</p>
            <p>Posté par: {{ post.user.username }}</p>
            <p>{{ post.time_created }}</p>
            <button><a href="{% url 'edit_review' post.id %}">Éditer</a></button>
            <button><a href="{% url 'delete_review' post.id %}">Supprimer</a></button>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}